- name: Add deployment user
  action: user name={{deployer.username}}

- name: Add ssh public keys to authorized_keys
  authorized_key: user={{deployer.username}} key={{ item }}
  with_items: "{{ deployer.authorized_keys }}"

- name: Remove sudo group rights
  action: lineinfile dest=/etc/sudoers regexp="^%sudo" state=absent

- name: Remove deploy user from sudoers
  action: lineinfile dest=/etc/sudoers regexp="{{deployer.username}} ALL" line="{{deployer.username}} ALL=(ALL) NOPASSWD:ALL" state=absent

- name: Copy private key for deploy user
  template: src=id_rsa.j2 dest=~{{deployer.username}}/.ssh/id_rsa owner={{deployer.username}} group={{deployer.username}} mode=0400

- name: Copy public key for deploy user
  template: src=id_rsa.pub.j2 dest=~{{deployer.username}}/.ssh/id_rsa.pub owner={{deployer.username}} group={{deployer.username}} mode=0400

- name: Allow deploy to restart sidekiq workers
  action: lineinfile dest=/etc/sudoers regexp="{{deployer.username}} ALL" line="{{deployer.username}} ALL=(ALL) NOPASSWD:/sbin/initctl start sidekiq-workers, /sbin/initctl stop sidekiq-workers, /sbin/initctl status sidekiq-workers, /sbin/initctl restart sidekiq-workers, /sbin/initctl stop puma-manager, /sbin/initctl start puma-manager, /sbin/initctl restart puma-manager, /sbin/initctl status puma-manager, /sbin/initctl stop nginx, /sbin/initctl start nginx, /sbin/initctl restart nginx, /sbin/initctl status nginx" state=present
